<div class="mb-3">
  <label for="title" class="form-label">Titulo</label>
  <input
    required
    type="text"
    value="<%= article.title%>"
    class="form-control"
    id="title"
    name="title"
  />
</div>
<br />
<div class="mb-3">
  <label for="description" class="form-label">Descripcion</label>
  <textarea
    rows="6"
    type="text"
    class="form-control"
    id="description"
    name="description"
  >
  <%= article.description%>
  </textarea>
</div>
<br />
<div class="mb-3">
  <label for="markdown" class="form-label">Resumen</label>
  <input
    required
    type="text"
    class="form-control"
    id="markdown"
    name="markdown"
    value="<%= article.markdown%>"
  />
</div>
<br />
<a href="/" class="btn btn-secondary">
  <i class="bi bi-x-circle-fill"></i>
  Cancelar
</a>
<button type="submit" class="btn btn-success">
  <i class="bi bi-vector-pen"></i>
  Guardar
</button>
